<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "{ %static 'css/test.css' %}"/>
    <link rel = "icon" href = "{ %static 'assets/favicon.ico' %}">
</head>

<body>
    <div class = "Image">
        <h1 style="text-align: center;"><strong>Маршрут 1</strong></h1>
        <p style="text-align: center;"><img src="route_1.jpg" alt="Missing img" width="700" height="800" /></p>
<!--        <p style="text=align: center;">Маршрут №1</p>-->
<!--        <p style="text-align: center;">-->
<!--        <img src = "route_1.jpg" alt="Missig img" width="700" height="800" />-->
<!--        </p>-->
    </div>
</body>

